h2 {
    text-align: left;
}

.description {
    text-align: left;
    font-size: 1.10rem;
}

.description-size {
    width: 20vw;
}

.column {
    padding: 5vw;
    margin: 0;
    height: auto;
    width: 20vw;
    position: relative;
}

.container-2 {
    position: relative;
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    justify-content: space-around;
    gap: 2vw;
}

.fontsize {
    position: relative;
    color: white;
    text-align: center;
}

.caption {
    position: relative;
    text-align: center;
    justify-self: center;
}

.first,
.second,
.third {
    position: relative;
    margin: 0;
    padding: 0;
}

.column img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 100%;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }

    .caption {
        justify-self: center;
        text-align: center;
    }
}

